[Unit]
Description=Phono Exhibition Software
After=syslog.target network-online.target

[Service]
User=pi

Type=simple
ExecStart=sleep 5 && /usr/bin/puredata -noadc -nogui -audiooutdev 3 -audiobuf 100 -blocksize 1024 -rt /home/pi/phono/phono.pd
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
